<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login1</h1>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" method="post">


  <table>
    <tr>
      <td>User:</td>
      <td>
        <input type="text" th:name="username"/>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="text" th:name="password"/>
      </td>
    </tr>

    <tr>
      <td><input name="submit" type="submit" value="login" /></td>
    </tr>
  </table>
</form>
<p th:if="${param.error}">Login failed!</p>
</body>
</html>