<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" method="post">


  <table>
    <tr>
      <td>User:</td>
      <td>
        <input type="text" th:name="username"/>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="text" th:name="password"/>
      </td>
    </tr>

    <tr>
      <td><input name="submit" type="submit" value="login" /></td>
    </tr>
  </table>
</form>
<p th:if="${param.error}">Login failed!</p>

<p>User: user1  Password: password1</p>
<p>User: user2  Password: password2</p>
<p>User: user3  Password: password3</p>
<p>User: user4  Password: password4</p>
<p>User: user5  Password: password5</p>
<p>User: user6  Password: password6</p>
<p>User: user7  Password: password7</p>
<p>User: user8  Password: password8</p>
<p>User: user9  Password: password9</p>
</body>
</html>